.nav-container{
	display: flex;
	justify-content: center;
}
.header-nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #ce5937 0%, #a115a4 50%, #9c17c5 100%);
}

.header-nav nav img {
  height: 8rem;
}


/* Media queries */
@media (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px de ancho */
  .header-nav nav {
    height: 6rem;
  }
  
  .header-nav nav img {
    height: 4rem;
  }
}

@media (max-width: 480px) {
  /* Estilos para pantallas de hasta 480px de ancho */
  .header-nav nav {
    height: 4rem;
  }
  
  .header-nav nav img {
    height: 3rem;
  }
}